<%- include('partials/header') %>

<div class="container centered mt-5 pt-5">
    <div class=" ">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">Secrets</h1>
    <p class="lead">Don't keep your secrets, share them Anonymously!</p>
    <hr color="#FB2576">
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>

  </div>

<%- include('partials/footer') %>
